.arguments {
    width: 50%;
}

.argument-card {
    background: #112A43;
    border: white solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 10px;
}

.argument-link {
    display: inline-block;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.argument-title {
    font-weight: bold;
    font-size: 20px;
}

.argument-link:hover {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 1000px) {
    .arguments {
        width: 100%;
    }
}