#body {
    font-family: "Avenir Next", sans-serif;
    padding-top: 100px;
    background: #B83030;
    color: white;
}

.center {
    margin: auto;
}

.divider {
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background: white;
}

.content-left {
    width: 50%;
}

.content-right {
    margin-left: 50%;
    width: 50%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container-vertical {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-items-vertical {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.article-image {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background: no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-bottom: 40px;
}

.article-sidebar {
    position: fixed;
    left: -200px;
    top: 20%;
    transition: 0.5s;
    height: 60%;
    width: 10%;
}

.sidebar-link-container {
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-link-selected {
    color: #112A43;
    border-left: #112A43 solid 3px;
}

.sidebar-link-selected a {
    color: #112A43;
}

.sidebar-link {
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.sidebar-link:hover {
    color: #112A43;
    text-decoration: none;
}

@media only screen and (max-width: 1250px) {
    .article-sidebar {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        margin-left: 30px;
        margin-right: 30px;
    }

    .flex-items {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }

    .article-image {
        margin-right: auto;
    }
}