.article-sidebar {
    position: fixed;
    left: -200px;
    top: 20%;
    transition: 0.5s;
    height: 60%;
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-sidebar-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.article-sidebar-link-container {
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-sidebar-link {
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.article-sidebar-link:hover {
    opacity: 0.7;
    text-decoration: none;
}

.article-sidebar-link-selected {
    color: white;
    border-left: white solid 3px;
}

.article-sidebar-link-selected a {
    color: white;
}


.article-sidebar-link-dark {
    color: #333333;
}

.article-sidebar-link-dark a {
    color: #333333;
}

.article-sidebar-link-dark-selected {
    color: #B83030;
    border-left: #B83030 solid 3px;
}

.article-sidebar-link-dark-selected a {
    color: #B83030;
}

@media only screen and (max-width: 1250px) {
    .article-sidebar {
        visibility: hidden;
    }
}