/* Facts Section Styles */
.facts-section {
    padding-top: 40px;
    padding-bottom: 200px;
}

.facts-section-title {
    text-align: right;
}

.facts-section-content {
    display: flex;
    flex-flow: row wrap-reverse;
}

.facts-section-body {
    flex: 2 2 400px;
    padding-right: 15%;
}

.facts-section-images {
    flex: 1 1 200px;
    align-self: flex-end;
}


/* Breakpoints */
@media only screen and (max-width: 600px) {

    .facts-section {
        padding-bottom: 20px;
    }

    .facts-section-body {
        width: 100%;
    }

    .facts-section-images {
        display: none;
    }
}