/* Intro Section Styles */
.hero-section {
    display: flex;
    align-content: flex-start;
    width: 100%;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    width: 70%;
    padding-top: 10%;
    min-height: 100vh;
}

.context {
    width: 70%;
}


/* Facts Section Styles */
.facts-section {
    padding-top: 40px;
    padding-bottom: 200px;
}

.facts-content {
    display: flex;
    flex-flow: row wrap-reverse;
}

.facts-body {
    flex: 2 2 400px;
    padding-right: 15%;
}

.facts-images {
    flex: 1 1 200px;
    align-self: flex-end;
}

.facts-image-caption {
    margin-bottom: 60px;
}

.article-image-container {
    width: 300px;
    margin-bottom: 15px;
}

.article-image-container img {
    width: 100%;
}

.article-image-round {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
}

.article-image-round img {
    width: auto;
    height: 300px;
    display: inline-block;
    position:relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Issue Section Styles */
.issue-section {
    background-color: lightgrey;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}

.issue-content {
    align-self: center;
    width: 500px;
    text-align: center;
    flex: 1 1 auto;
    overflow-y: auto;
}


/* Arguments Section Styles */
.arguments-section {
    padding-top: 60px;
}

.arguments-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.arguments {
    width: 50%
}

.argument-card {
    background: #112A43;
    border: white solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 10px;
}

.argument-link {
    display: inline-block;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.argument-link-dark {
    color: black;
    background: rgba(0, 0, 0, 0.2);
}

.argument-link:hover {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}

.argument-link-dark:hover{
    color: black;
    background: rgba(0, 0, 0, 0.3);
}

.argument-title {
    font-weight: bold;
    font-size: 20px;
}

.divider {
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background: white;
}


/* Opinion Section Styles */
.opinion-section {
    padding-top: 60px;
    height: 100vh;
}


/* Breakpoints */
@media only screen and (max-width: 600px) {

    .hero-content {
        margin-top: 50px;
        width: 100%;
    }

    .context {
        width: 100%;
    }

    .facts-section {
        padding-bottom: 20px;
    }

    .facts-body {
        width: 100%;
    }

    .facts-images {
        display: none;
    }

    .issue-section {
        min-height: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .issue-content {
        width: 100%;
    }

    .arguments {
        width: 100%;
    }
}