/* Arguments Section Styles */
.arguments-section {
    padding-top: 60px;
}

.arguments-section-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.arguments-section-arguments-list {
    width: 50%
}

/* Breakpoints */
@media only screen and (max-width: 600px) {

    .arguments-section-arguments-list {
        width: 100%;
    }
}