.argument-link {
    display: inline-block;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.argument-link-dark {
    color: black;
    background: rgba(0, 0, 0, 0.2);
}

.argument-link:hover {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}

.argument-link-dark:hover{
    color: black;
    background: rgba(0, 0, 0, 0.3);
}